/* login/signup container */
#login-form, #signup-form {
    background-color: rgba(255, 255, 255, 0.8); 
    margin-bottom: 2rem;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

/* ------- CTA SECTION -------- */
/* submit buttons */
.cta {
    border: none; 
    background-color: #9C9EB3; 
    color: #FFFFFF;
    font-weight: 700;
    padding: 1rem 2.5rem;
}

.cta:hover, .cta:focus, .cta:active {
    border: none;
}

/* container for submit button and text */
.cta-access { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0 5rem 0;
}

/* login/signup referral  */
.cta-access p {
    margin-top: 1.25rem;
}

.cta-container {
    margin-top: 2rem;
}
/* ----- END OF CTA SECTION ------- */

/* ----- FORM CONTENT -------- */
#login-content input, #signup-content input {
    width: 100%;
}

#login-content label, #signup-content label {
    margin-top: 4rem;
}

#login-content label:first-of-type, #signup-content label:first-of-type{
    margin-top: 5rem;
}
/* ----- END OF FORM CONTENT -------- */

