#header {
    text-align: center;
}

/* -------- CREATE POST POPUP --------- */
/* container for popup */
.popup-container {
  display: none; /* hide the container by default */
  position: fixed; 
  z-index: 1; 
  padding: 5rem 0 5rem 0; /* Location of the box */
  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); /* fallback color */
  background-color: rgba(0,0,0,0.4);
}
  
/* popup content */
.popup-content {
  background-color: #FFFFFF;
  color: #3F4262;
  border-radius: 5px;
  margin: auto;
  width: 65%;
  padding: 0 0 4rem 0;
}

/* The Close Button */
.close {
  margin: 1rem 2rem 0 0;
  color: #9C9EB3;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #BEA35E;
  text-decoration: none;
  cursor: pointer;
}

/* labels for inputs */
/* .entry-label, .faux-label {
  color: #3F4262; 
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0;
} */

/* textarea, input {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; 
  color: #646788;
} */

  /* turn off spinners for number inputs */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

#entry-duration input, #entry-duration p, #entry-visibility input, #entry-visibility label {
  display: inline-block;
  margin: 0;
}

/* number inputs for duration of sleep */
#entry-duration input {
  width: 1.5rem;
}

/* input for date */
#entry-date input {
  margin-top: 0.7rem;
}

/* all entry inputs */
/* #entry-form input {
  border: none;
  border-bottom: solid 1px #9C9EB3;
} */

#entry-title input {
  /* width: 80%; */
}

#entry-description textarea{
  width: 100%;
  min-height: 15rem;
  resize: none;
  border-radius: 5px;
  border: solid 1px #9C9EB3;
}

#entry-duration input:nth-of-type(2n), #entry-visibility input:nth-of-type(2n) {
  margin-left: 1rem;
} 

/* submit buttons */
#entry-actions button {
  padding: 0.75rem 1rem; 
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}

/* publish entry button */
#publish {
  background: #9C9EB3;
  color: white;
  border: solid 2px #9C9EB3;
}

#publish:hover, #publish:focus, #publish:active {
  transition: background 0.2s, border 0.2s; 
  background: #BEA35E;
  border: solid 2px #BEA35E;
}

/* draft button */
#draft {
  background: #FFFFFF; 
  border: solid 2px #9C9EB3;
  color: #9C9EB3;
}

#draft:hover, #draft:focus, #draft:active {
  transition: background 0.2s, border 0.2s; 
  background: #BEA35E;
  border: solid 2px #BEA35E;
  color: #FFFFFF;
  
}


/* ------- RATING FACES ------------ */
#entry-rating img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.25rem;
}

#entry-rating img:hover {
  opacity: 0.6;
  cursor: pointer;
}

input[type=radio]:checked + label > img {
  border: 1px solid rgb(228, 207, 94);
}

#entry-rating label {
  display: inline-block;
}

#entry-rating input[type=radio] {
  display: none;
}
/* ------- END OF RATING FACES ------------ */

/* ----- TAGS ------- */
 /* tags container */
 .tags-input-wrapper {
  max-width: 12rem;
  border-bottom: 1px solid #9FA0B0;
}

/* ----- END OF  TAGS ------- */



/* --------- END OF CREATE POST POPUP --------- */
