/* -------- HERO ----------- */
#main {
    height: 100vh;
}

h1 {
    margin: 15vh 0 0 0;
    font-size: 6rem;
}

#main p {
   max-width: 42ch;
}

#main cta {
    margin-top: 3rem;
}
/* -------- END OF HERO ----------- */


/* ------------- ABOUT -------------- */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

    margin: 1rem 0 18rem 0;
}
/* --------- END OF ABOUT -------------- */


/* ------------- END OF ABOUT -------------- */


