/* ------ TARGET NAV -------- */
#target-nav {
    display: flex; 
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    background: #FFFFFF;
    padding: 2rem 3rem 4rem 3rem;
    border-radius: 5px;
} 

#target-nav a { 
    text-align: left;
    padding: 0.3rem 0 0.3rem 0;
    margin: 0;
}
/* ---- END OF TARGET NAV ------ */

/* ----- ELEMENT CONTAINER ------ */
.element-wrapper {
    margin-left: 4rem;
}
.element-container {
    background: #FFFFFF;
    padding: 2rem 3rem 4rem 3rem;
    border-radius: 5px; 
}

/* ------ END OF  ELEMENT CONTAINER ------ */