/* ------ TARGET NAV -------- */
h2 {
    margin-bottom: 1rem;
}

h3 {
    margin: 0.5rem 0 0.75rem 0;
}

#target-nav {
    display: flex; 
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    background: rgba(255, 255, 255, 0.8);
    /* padding: 2rem 3rem 4rem 3rem; */
    padding: 2rem 20% 3rem 20%;
    border-radius: 5px;

    position: sticky;
    top: 2rem;
} 

nav#target-nav {
    margin: 0;
}

#target-nav a { 
    text-align: left;
    padding: 0.3rem 0 0.3rem 0;
    margin: 0;
}
/* ---- END OF TARGET NAV ------ */

/* ----- ELEMENT CONTAINER ------ */
.element-wrapper {
    margin-left: 4rem;
}

.element-container {
    /* background: #FFFFFF; */
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem 5rem 4rem 5rem;
    border-radius: 5px; 
}

.comments {
    margin-top: 4rem;
}

.comments h3 {
    margin-bottom: 0;
}

.comments p {
    margin-top: 0.5rem;
}
/* ------ END OF  ELEMENT CONTAINER ------ */

/* --- COLOR PALETTE --- */

/* color swatch */
.swatch {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

/* purple milk swatch */
.purple-milk {
    background: #EDEDF1;
}

/* dusty lavender swatch */
.dusty-lavender {
    background: #9C9EB3;
}

/* plum purple swatch  */
.plum-purple {
    background: #646788;
}

/* golden yellow swatch */
.golden-yellow {
    background: #BEA35E;
}

/* navy blue swatch  */
.navy-blue {
    background: #3F4262;
}

/* past dusk blue swatch */
.past-dusk-blue {
    background: #646788;
}

/* color info */
.color-tag {
    margin-left: 2.25rem;
}

.color-tag p {
    margin: 0;
    font-weight: 700;
}

.color-tag p:last-of-type {
    font-weight: 300;
    margin-top: 1.25rem;
}

/* ---END OF COLOR PALETTE--- */

/* ---- ENTRY CARD EXAMPLE ----  */
.entry-card {
    margin-top: 2.25rem; 
}
/* --- END OF ENTRY CARD --- */

/* ---- FORM EXAMPLES ---- */
label {
    margin-top: 1rem;
}

/* ---- RATINGS ---- */
/* hide radio input for dream ratings */
#ratings [type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + svg {
    cursor: pointer;
}

/* svg stroke for rating emoticons */
.stroke {
    stroke:#646788;
    stroke-width: 3;
}

[type=radio]:checked + svg > circle, 
[type=radio]:checked + svg > path, 
[type=radio]:checked + svg > line {
    /* fill: #BEA35E; */
    stroke: #BEA35E;
    /* background: red; */
}

[type=radio]:checked + svg > .eye,
[type=radio] + svg > .eye:hover
[type=radio] + svg > .eye:focus {
    stroke: none; 
    fill: #BEA35E;
}

#ratings {
    display: flex;
    flex-direction: row;
}

#ratings label {
    margin: 0 0.5rem 0 0;
}
/* ----END OF RATINGS ------- */

/* margin spacing for three column section in forms example */
#forms .three-col {
    grid-column-gap: 5rem;
    margin-top: 2.5rem;
}

.duration input {
    width: 1.5rem;
    display: inline-block;
    margin-top: 0rem;
}

.duration p {
    margin-top: 0.5rem;
    font-weight: 700;
    display: inline-block;
    line-height: 0;
}

.duration input:last-of-type {
    margin-left: 1.25rem;
}

.visibility label {
    font-size: 1.1rem;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #646788;
    display: inline-block;
    line-height: 0;
    margin: 0;
}

.visibility input {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.7;
}

.visibility input:last-of-type {
    margin-left: 1.5rem;
}



/* --- END OF RATINGS --- */

/* --- END OF FORM EXAMPLES --- */